.popup__text {
    width: 358px;
    border: 0;
    padding: 0 0 13px;
    margin: 0px 0px 30px 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

@media screen and (max-width: 600px) {
    .popup__text {
        margin-bottom: 30px;
        width: 238px;
    }
}