.element__delete {
    background-image: url(../../../images/Trash.svg);
    position: absolute;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
}

.element__delete:hover {
    opacity: 0.5s;
}
